# server
port = server port no.

# node-mailer
your_email = mail id from which you want to send an email
your_pass =  password of mail
JWT_SECRET = jwt secret key


# cloudinary 
cloud_name = cloud name
api_key
api_secret


# redis
redis_port = redis port no




