<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 1300px;
      margin: 0 auto;
      /* border: 2px solid red; */
    }

    .section {
      width: 100%;
      margin: 0 auto;
      margin-top: 30PX;
      /* border: 2px solid blue; */
      display: flex;
      justify-content: space-around;
    }

    .add-medicine {
      cursor: pointer;
      margin: 10px auto;
    }

    .logout {
      cursor: pointer;
      margin: 10px auto;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="section">
      <div class="medicine">
        <p class="add-medicine" onclick="window.location.href=`/one-time`">One time</p>
        <p class="add-medicine" onclick="window.location.href=`/recurring-daily`">Recurring daily</p>
        <p class="add-medicine" onclick="window.location.href=`/recurring-weekly`">Recurring weekly</p>
      </div>

      <div>
        <p class="logout" onclick="logout(event,'Logout')">Logout</p>
        <p class="logout" onclick="logout(event,'LogoutAll')">Logout from all divices</p>
        <p class="logout" onclick="logout(event,'LogoutAllOther')">Logout from other devices</p>
      </div>
    </div>
  </div>

</body>

<script>

  async function logout(e, LogoutValue) {
    e.preventDefault();

    let url;

    if (LogoutValue == 'Logout') {
      url = "/logout";
    }
    else if (LogoutValue == 'LogoutAll') {
      url = "/logout-all";
    }
    else if (LogoutValue == 'LogoutAllOther') {
      url = "/logout-all-other";
    }

    let data = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      }
    })

    data = await data.json();

    console.log(data.message);

    if (data.success && (LogoutValue == 'Logout' || LogoutValue == 'LogoutAll')) {
      window.location = "/login"
    }
  }

</script>

</html>