<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Verification</title>
<link rel="stylesheet" href="/css/password.css">
</head>

<body>


  <div id="container">
    <div class="h1">
      <h1>Create Password</h1>
    </div>

    <div class="section">


      <form id=form>

        <input type="hidden" name="activation" id="activation">

        <div class="outer-div">
          <div class="sub-div">
            <p class="p"><label for="password">Create Password : </label></p>
            <input class="input validateInput" type="password" name="password" id="password" tabindex="1">
          </div>
        </div>

        <div class="outer-div">
          <div class="sub-div">
            <p class="p"><label for="verify_password">Verify Password : </label></p>
            <input type="password" class="input validateInput" name="verify_password" id="verify_password" tabindex="2">
            <span id="error_password"></span>
          </div>
        </div>

        <div class="pass-verify-btn">
          <p class="btn p" value="submit" id="submit" tabindex="3">submit </p>
          <p class="btn p" value="login" id="login" style="display: none; text-decoration: none;"
            onclick="window.location.href=`/login`">Go to Login page</p>
        </div>

      </form>

    </div>

  </div>

</body>

<script src="/javascript/password.js"></script>

</html>