<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>registration</title>
  <link rel="stylesheet" href="/css/registration.css">
</head>

<body>

  <div class="container">
    <div class="h1">
      <h1>Registaration</h1>
    </div>
    <div class="section">
      <form id="form">

        <div class="outer-div">
          <div class="sub-div">
            <p class="p"><label for="first_name">First name : </label></p>
            <input type="text" class="input validateInput" name="first_name" id="first_name" tabindex="1"
              placeholder="      First name">
          </div>

          <div class="sub-div">
            <p class="p"><label for="last_name">Last name : </label></p>
            <input type="text" class="input validateInput" name="last_name" id="last_name" tabindex="2"
              placeholder="      last name">
          </div>
        </div>

        <div class="outer-div">
          <div class="sub-div">
            <p class="p"><label for="email">email : </label></p>
            <input type="text" class="input validateInput" name="email" id="email" tabindex="3"
              placeholder="      email">
          </div>

          <div class="sub-div">
            <p class="p"><label for="blood_group">Blood Group : </label></p>
            <input type="text" class="input" name="blood_group" id="blood_group" tabindex="4"
              placeholder="      blood group in capital letters">
          </div>
        </div>

        <div class="outer-div">
          <div class="sub-div">
            <p class="p"><label for="phone_no">contact : </label></p>
            <input type="text" class="input validateInput" name="phone_no" id="phone_no" tabindex="5"
              placeholder="      contact no.">
          </div>

          <div class="sub-div">
            <p class="p"><label for="dob">DOB : </label></p>
            <input type="date" class="input validateInput" name="dob" id="dob" tabindex="6" placeholder="      DOB">
          </div>
        </div>

        <div class="register-btn">
          <p class="btn p" id="register" tabindex="7">Register</p>
        </div>
        <div class="login-btn">
          <p class="p" id="loginBtn">Already have an Account? <a href="/login" tabindex="8">login</a></p>
        </div>
      </form>
    </div>
  </div>

</body>

<script src="/javascript/registration.js"></script>

</html>