:root {
  --light-blue: #d2ebf9;
  --brown: #e7e7e7;
  --blue: #0969da;
  --white: #ffffff;
  --darkblue: darkblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.all-medicine {
  margin: 20px 0;
}

.all-medicine-header {
  width: 93%;
  margin: 0 auto;
}

#medicine-table {
  border-collapse: collapse;
  border: 1px solid var(--brown);
  border-radius: 5px;
  width: 93%;
  margin: 15px auto;
}


td {
  text-align: center;
  padding: 8px 0;
}

th {
  box-shadow: 0 2px var(--blue);
  padding: 10px 0;
  text-align: center;
}

.details-btn {
  height: 33px;
  width: 100px;
  border-radius: 3px;
  background-color: var(--light-blue);
  padding-top: 8px;
  cursor: pointer;
  text-align: center;
  margin: auto;
}

.details-btn:hover {
  color: var(--white);
  background-color: var(--blue);
}

/* POPUP CSS */

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  left: 20%;
  right: 20%;
  margin-left: -150px;
  top: 30%;
  margin-top: -100px;
  background: var(--white);
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--white);
  z-index: -1;
}

.medicine-name-section {
  margin: 35px auto;
  display: flex;
  padding: 35px;
  border-radius: 25px;
  background-color: var(--light-blue);
}

h2 {
  padding-bottom: 8px;
}

.medicine-card {
  width: 100%;
  border-radius: 10px;
}

.medicine-card>h3 {
  text-align: center;
  padding-bottom: 8px;
  color: var(--darkblue);
}

.medicine-detail {
  display: flex;
  justify-content: space-between;
}

.medicine-more-detail>p,
.description>p {
  margin: 10px 0;
}

.bold-text {
  font-weight: bold;
}